*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li{
    list-style: none;
}

.li-upper{
    display: flex;
    gap: 30px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;

}

.nav-list:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: red;
}
.nav-container{
    background-color: #1F2937;
    padding: 15px 40px 15px 40px;
    display: flex;
    justify-content: space-between;
}

.logo{
    color: white;
    text-decoration: none;
    /* color: black; */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

span{
    color: red;
}

.first-section{
    display: flex;
    padding: 10px;
    gap: 28px;
    justify-content: space-around;
    background-color: #1F2937;
}

.heading-text{
    width: 450px;
    align-self: center;
    color: white;
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 10px;
}

.btn-Discover{
    margin-top: 15px;
    background-color: aquamarine;
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 30px;


}

.nav-order{
    background-color: aquamarine;
    border-radius: 30px;
    width: 80px;
    color: #1F2937;
    text-align: center;


}

.btn-Discover:hover{
    transform: scale(1.2);
    cursor: pointer;
    color: red;
}